/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;800&family=Inter:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: rgb(0 84 120);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: hsl(185, 33%, 79%);
  --clr-white-1: #ffffff;
  --clr-white-2: #ffff;
  --clr-black: #222;
  --clr-light-black: #0f121f;
  --clr-light-blue: #4c9e9e;
  --clr-failure: rgb(177, 49, 49);
  --clr-success: rgb(18, 165, 18);
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary-1: 'Dosis', sans-serif;
  --ff-secondary-2: 'Inter', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --very-dark-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2),
    0px 6px 20px 0px rgba(0, 0, 0, 0.19);
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  font-family: var(--ff-primary);
  font-size: 0.875rem;
  background-color: var(--clr-white-1);
}
html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
button,
#mc-embedded-subscribe {
  padding: 1rem 2rem;
  color: var(--clr-white-2);
  background-color: var(--clr-primary-1);
  font-size: 1.2rem;
  outline: none;
  border: none;
  box-shadow: var(--light-shadow);
  cursor: pointer;
  transition: 2s;
}
button:hover, #mc-embedded-subscribe:hover{
  color: var(--clr-white-1);
  background-color: var(--clr-light-black);
}
/*  global classes */
y
/* for nav menu */
a {
  color: var(--clr-white-1);
}

/* header */

/* NAVBAR STYLING STARTS */
.nav_bar {
  z-index:200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--clr-black);
  color: var(--clr-white-1);
}
.nav_links a {
  color: var(--clr-white-1);
}

/* LOGOS */
.logos {
  display: block;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_texts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.logo_text {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  /* line-height: 1.25; */
  letter-spacing: -1px;
  color: var(--clr-white-1);
}
.logo_subtext{
  color: var(--clr-white-1);
  font-size: 1.1rem;
}
.logo {
  width: 100%;
  height: 3.5rem;
}

/* NAVBAR MENU */
.menu {
  z-index: 200;
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: var(--clr-light-blue);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
  width: 100%;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: var(--clr-black);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: var(--clr-light-blue);
}

.services:hover .dropdown {
  display: block;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type='checkbox'] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: var(--clr-black);
    top: 5rem;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: var(--clr-light-blue);
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type='checkbox']:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: var(--clr-light-blue);
  }
}
@media screen and (max-width: 900px) {
  .logo_text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 760px) {
  button,
  .button {
    padding: 1rem 1rem;
    font-size: 1rem;
  }
}

/* Slider */
.demo-carousel {
  padding: 0 14rem;
  z-index: 50;
  width: 100%;
  height: 550px;
  text-align: center;
  margin: 0 auto;
  background-color: var(--clr-light-black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.demo-carousel .img_container {
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  text-align: center;
}
.legend {
  text-transform: uppercase;
} 
@media screen and (max-width: 990px) {
  .demo-carousel {
    padding: 0;
  }

}
@media screen and (max-width: 760px) {
  .demo-carousel {
    padding: 0;
    height: 300px;
  }
  .demo-carousel .img_container {
    height: 300px;
  }
}
/* Home styles */
.home_banner {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  background-color: var(--clr-white-1);
  height: 700px;
}

.text_author,
.author_book {
  color: var(--clr-black);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.author_name {
  font-family: var(--ff-secondary-1);
  font-size: 3rem;
  color: var(--clr-primary-1);
  margin-bottom: 2rem;
}
.home_image {
  height: 30rem;
  margin-right: 8rem;
}
.author_book {
  text-transform: uppercase;
  color: var(--clr-primary-1);
}

.section2_home {
  padding: 2rem 4rem;
  background-color: var(--clr-white-1);
  box-shadow: var(--very-dark-shadow);
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .home_image {
    margin-right: 0rem;
  }
  .text_author,
  .author_book {
    font-size: 2rem;
  }
  .author_name {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 760px) {
  .home_banner {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 0 2rem;
    height: 460px;
  }
  .home_image {
    height: 18rem;
    margin-right: 0;
  }
  .text_author,
  .author_book {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .author_name {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .section2_home {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1rem;
  }
}

/* below the home banner */
.section3_home {
  background-color: var(--clr-primary-5);
}
.advert_section {
  /* background-color: gray; */
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 0 3rem;
  align-items: center;
}
.advert_image_container{
  text-align: center;
  width: 24rem;
}
.section3_home_image {
  width: 100%;
  height: 30rem;
  box-shadow: var(--dark-shadow);
}
.section3_home .text {
  text-align: center;
  font-size: 2rem;
  color: var(--clr-black);
  padding: 2rem;
}
.book_overview{
  font-size: 1.2rem;
  line-height: 1.55rem;
  text-align: justify;
}
.ad {
  /* background: rebeccapurple; */
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  /* width: 25rem; */
}
.ad_books {
  text-transform: uppercase;
  color: var(--clr-primary-1);
  font-size: 1.8rem;
  text-align: center;
}
@media screen and (max-width: 1105px) {
  .advert_section{
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 760px) {
  .advert_section {
    display: grid;
    gap: 1rem;
    padding: 0 2rem;
  }
  .section3_home .text {
    text-align: center;
    font-size: 1.5rem;
    color: var(--clr-black);
    padding: 1rem;
  }
  .book_overview{
    font-size: 1.1rem;
    text-align: start;
  }
  .advert_image_container{
    text-align: center;
    width: 100%;
  }
  .advert_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .section3_home_image {
    width: 13rem;
    height: 18rem;
  }
  .ad {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    /* width: 100; */
  }
  .ad_books {
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 0rem;
  }
}

/* about section in home */
.about_in_home {
  box-shadow: var(--very-dark-shadow);
  background-color: var(--clr-white-1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}
.brief_summary {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-bottom: 2rem;
  width: 70%;
}
.home_about_image {
  height: 30rem;
  margin-right: 5rem;
}
@media screen and (max-width: 800px) {
  .about_in_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 2rem;
  }
  .brief_summary {
    font-size: 1rem;
    line-height: 1.8rem;
    padding-bottom: 2rem;
    text-align: left;
    width: 100%;
  }
  .home_about_image {
    height: 20rem;
    margin-right: 0;
  }
}

/* for mailchimp */
.subscribe {
  padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--clr-primary-5);
}
.subscribe_title {
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}
.form {
	margin-bottom: 25px;
}
.form_email {
	padding: 1rem;
  margin-bottom: 1rem;
 	border: 1px solid var(--clr-primary-5);
	width: 30rem;
	font-size: 1.2rem;
	color: var(--clr-light-black);
  outline: none;
}
.success, .error{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: var(--clr-success);
}
.error{
  color: var(--clr-failure);
}
@media screen and (max-width: 760px) {
  .form_email {
    padding: 0.8rem;
    width: 14.1rem;
  }
  #mc-embedded-subscribe{
    padding: 0.8rem 0.5rem;
    
  }
  .success, .error{
    font-size: 1rem;
  }
  

}
/*for about page */
.about_banner {
  background: var(--clr-primary-5);
}
.page_name {
  text-align: center;
  font-size: 2.5rem;
  color: var(--clr-black);
  padding: 1rem;
}
.about_text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 2rem 4rem;
}
.about_summary{
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
.paragraph {
  margin-bottom: 3rem;
  text-align: justify;
}
.about_images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
.inline {
  float: left;
  margin-right: 2rem;
}
.leo_image{
  width: 25rem;
}
@media screen and (max-width: 760px) {
  .page_name {
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 1rem;
  }
  .about_text {
    font-size: 1.2rem;
    padding: 2rem;
  }
  .paragraph {
    margin-bottom: 2rem;
  }
  .about_images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0rem;
  }
  .leo_image{
    width: 17rem;
  }
  .inline {
    float: none;
    text-align: center;
    width: 100%;
    margin-right: 0rem;
  }
}

/* books section */
.section2_books {
  padding: 4rem;
}
.intro_about {
  text-align: center;
  font-size: 2rem;
}
.books_display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 5rem 0rem;
}

@media screen and (max-width: 800px) {
  .section2_books {
    padding: 3rem;
  }
  .books_display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 3rem 0rem;
  }
}
@media screen and (max-width: 760px) {
  .section2_books {
    padding: 2rem;
  }
  .intro_about {
    text-align: center;
    font-size: 1.5rem;
  }
  .books_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0rem;
  }
}
/* book section */
.book_summary {
  width: 50%;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.section2_book {
  padding: 3rem 4rem;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section3_book {
  text-align: center;
  padding: 2rem 4rem;
}
.intro_text {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
}
.small_text {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 2rem;
}
.buy {
  margin: 1rem;
}
@media screen and (max-width: 800px) {
  .section2_book {
    padding: 3rem 3rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
  }
  .section3_book {
    text-align: center;
    padding: 2rem 4rem;
  }
  .intro_text {
    margin-bottom: 3rem;
  }
  .small_text {
    margin: 1.8rem;
  }
}
@media screen and (max-width: 760px) {
  .book_summary {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .section2_book {
    padding: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .section3_book {
    text-align: center;
    padding: 2rem;
  }
  .intro_text {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .small_text {
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem;
  }
  .array_of_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* footer styles */
.socials {
  width: 2rem;
  height: 2rem;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.medium {
  width: 3rem;
  height: 3rem;
}
footer {
  /* margin-top: 2rem; */
  text-align: center;
  background-color: var(--clr-black);
  color: var(--clr-white-2);
  padding: 0.7rem;
  font-size: 1.2rem;
}
